<%- include('partials/headerthree') -%>

  <br><br>

  <form action="/availcomplaint" method="post">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="complain">
      <label>Enter your complaint</label>
    </div>
    <br>
    <button class="btn btn-primary" type="submit" name="button">ENTER</button>

  </form>

<%- include('partials/footerone') -%>
