<%- include('partials/headertwo') -%>

  <h1>Enter the CustomerID!</h1>
  <br>
  <form action="/bycustid" method="post">
    <div class="mb-1">
      <label class="form-label">Customer ID</label>
      <input type="text" class="form-control" name="userid">
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>

<%- include('partials/footerone') -%>
