<form action="/forgotpass" method="post">
  <div class="mb-2">
    <label class="form-label">User ID</label>
    <input type="text" class="form-control" name="userid">
  </div>
  <br>
  <div class="mb-2">
    <label class="form-label">Last Name</label>
    <input type="text" class="form-control" name="lastname">
  </div>
  <br><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
