<%- include('partials/headerthree') -%>

  <h1> Hello <%= current_cust %> </h1>
  <br><br>
  <p>Sed commodo commodo nunc. Donec imperdiet neque ut libero pulvinar, maximus venenatis ante sodales. Nulla non lorem at augue luctus molestie in sed leo. Morbi non vehicula odio, quis varius neque. Ut non augue ornare turpis scelerisque faucibus. Nullam id diam ac elit pellentesque vestibulum non vel libero. Cras ac libero id libero eleifend semper vel ut orci. Etiam vitae ultricies sem. Pellentesque ante neque, venenatis vel blandit ut, dignissim vel eros. Suspendisse tempus id ligula ut blandit. Suspendisse dignissim condimentum elit, ac lacinia lectus dapibus id. Aenean auctor leo pharetra orci fermentum, non porttitor nunc rhoncus. Morbi pulvinar erat et aliquet fermentum.</p>

<%- include('partials/footerone') -%>
