<%- include('partials/headertwo') -%>

  <h1>Hello <%= current_emp %>!</h1>
  <br>
  <h3>One of our pillar of support who has contributed a lot for this bank....</h3>
  <br>
  <p>Aliquam pharetra placerat lectus quis luctus. Praesent et consectetur magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec odio erat, posuere vel blandit eget, rutrum ac elit. Maecenas sed erat ac dolor dictum faucibus eu quis sem. Nunc eu est vel ligula rhoncus placerat sed quis metus. Nullam quis finibus nibh. Quisque non scelerisque sapien, quis pharetra turpis. Quisque vel egestas nisl. Maecenas ipsum mi, viverra sed volutpat et, aliquam sit amet erat. In egestas accumsan mauris id tempus. Mauris fringilla condimentum consequat. Phasellus in lacinia massa. Vestibulum finibus nisl ante, id semper nisi maximus non. Cras sapien libero, ultricies eu malesuada sed, ornare eget nunc. Nunc at nisl eleifend, congue ante et, rhoncus odio.</p>

<%- include('partials/footerone') -%>
