<%- include('partials/headerthree') -%>

  <h3>It seems like you have not created an account</h3>
  <br><br>
  <p>Press YES to create one</p>
  <form action="/openacc" method="post">
    <button class="btn btn-primary" type="submit" name="button">YES</button>
  </form>

<%- include('partials/footerone') -%>
