<%- include('partials/headerone') -%>

  <form action="/registercust" method="post">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="firstname">
      <label for="floatingInput">First Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="secondname">
      <label for="floatingInput">Second Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="street">
      <label for="floatingInput">Street</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="city">
      <label for="floatingInput">City</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="state">
      <label for="floatingInput">State</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="Pincode" name="pincode">
      <label for="floatingInput">Pincode</label>
    </div>
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" name="dob">
      <label for="floatingInput">DOB</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" name="phno">
      <label for="floatingInput">Phone number</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" name="user">
      <label for="floatingInput">USER ID</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" name="password">
      <label for="floatingInput">Password</label>
    </div>
    <button type="submit" name="button">ENTER</button>


  </form>

<%- include('partials/footerone') -%>
