<%- include('partials/headertwo') -%>

  <h1>Enter the Account number!</h1>
  <br>
  <form action="/transactionlog" method="post">
    <div class="mb-1">
      <label class="form-label">Account No</label>
      <input type="text" class="form-control" name="userid">
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br>

<%- include('partials/footerone') -%>
